SECRET_KEY=dein-secret-key
APP_TIMEZONE=Europe/Berlin
ADMIN_USERNAME=karola
ADMIN_PASSWORD=Karola123!

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=deine-mail@example.com
SMTP_PASSWORD=dein-app-passwort
SMTP_SENDER=Salon Karola <deine-mail@example.com>
SMTP_USE_TLS=true
DATABASE_PATH=/opt/render/project/src/data/salon_karola.db
